body {
  color: #525252;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  text-align: center;
  display: inline-block;
}

.title img {
  display: inline-block;
  height: 125px;
}

.sai2-interfaces-ui-top {
  display: flex;
  justify-content: space-around;
}

.sai2-interfaces-ui-top .left {
  border-style: solid;
  border-radius: 1em;
  width: 49%;
  padding: 0.5%; 
}

.sai2-interfaces-ui-top .right {
  border-style: solid;
  border-radius: 1em;
  width: 49%;
  padding: 0.5%; 
}

.container {
    margin: 2rem;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  text-overflow: ellipsis;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.primitive_selector {
  margin-top: 1rem;
}

.button-enable {
  background-color: #4CAF50;
}

.button-disable {
  background-color: #f44336;
}
