body {
  color: #525252;
  display: flex;
  flex-direction: column;
}

#example-container {
  flex: 1;
}

select {
  text-overflow: ellipsis;
  height: auto;
  width: auto;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.primitive_selector {
  margin-top: 1rem;
  padding: 0em 2em;
}

.button-enable {
  background-color: #4CAF50;
}

.button-disable {
  background-color: #f44336;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  text-align: center;
  display: inline-block;
}

.title select {
  width: 25%;
  text-align: center;
  text-align-last: center;
  font-weight: bold;
}

.title img {
  display: inline-block;
  height: 125px;
}

.sai2-interfaces-ui-top {
  display: flex;
  justify-content: space-around;
}

.sai2-interfaces-ui-top .left {
  border-style: solid;
  border-radius: 1em;
  width: 49%;
  padding: 0.5%; 
}

.sai2-interfaces-ui-top .right {
  border-style: solid;
  border-radius: 1em;
  width: 49%;
  padding: 0.5%; 
  display: flex;
  flex-direction: column;
}

.sai2-interfaces-ui-top .right .plot {
  height: 75%;
}

.sai2-interfaces-ui-top .right .logger {
  height: 25%;
}

.grid-half {
  display: flex;
  justify-content: space-between;
}

.grid-half .col {
  width: 48%;
}

.center {
  text-align: center;
}

input[type=number] {
  width: auto;
  -moz-appearance: textfield;
}